{% extends 'base.html' %}

{% block content %}
    <h2>My Devices</h2>
    {% if devices %}
        <table>
            <thead>
                <tr>
                    <th>Model</th>
                    <th>IMEI</th>
                    <th>Description</th>
                    <th>Defect</th>
                    <th>Estimated Repair Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                    <tr>
                        <td>{{ device.device_model }}</td>
                        <td>{{ device.imei }}</td>
                        <td>{{ device.description }}</td>
                        <td>{{ device.defect }}</td>
                        <td>{{ device.estimated_repair_price }}</td>
                        <td><a href="{% url 'workorder_management:device_detail' pk=device.id %}" class="btn btn-primary btn-sm">View</a></td>
                        <td><a href="{% url 'workorder_management:device_update' pk=device.id %}" class="btn btn-primary btn-sm">Update</a></td>
                        <td><a href="{% url 'workorder_management:add_to_workorder' pk=device.id %}"class="btn btn-primary btn-sm">Add to Work Order</a></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You don't have any devices.</p>
    {% endif %}
{% endblock %}
