{% extends 'base.html' %}

{% block content %}
    <h2>My Work Orders</h2>
    {% if workorders %}
        <table>
            <thead>
                <tr>
                    <th>Device</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for workorder in workorders %}
                    <tr>
                        <td>{{ workorder.device }}</td>
                        <td>{{ workorder.description }}</td>
                        <td>{{ workorder.get_status_display }}</td>
                        <td>{{ workorder.created }}</td>
                        <td>{{ workorder.updated }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You don't have any work orders.</p>
    {% endif %}
{% endblock %}

