.navbar-nav .nav-item {
  margin: 10px;
}
.navbar {
  background-color: #0d88ed;
  height: 80px;
}
.navbar .navbar-brand {
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'roboto';
  color: #ca1616;
}
.navbar .nvb {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar .nav-item .nav-link {
  color: #fff;
}
.navbar .nav-item .nav-link:hover {
  background-color: #33d33e;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}